.review h2 {
  margin: 0 0 32px;
  text-align: center;
}

.review-ruler {
  height: 1px;
  margin-bottom: 61px;
  max-width: 785px;
}

.review-ruler.blue {
  background: #6ecbf9;
}

.review-ruler.orange {
  background: #ffca87;
}

.review-ruler.red {
  background: #d9526f;
}

.review-body {
  display: flex;
  gap: 63px;
}

.review img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  aspect-ratio: 1;
  object-fit: cover;
  /* margin-bottom: 40px; */
}

.review p {
  margin-bottom: 32px;
}

.review-author {
  font-size: 16px;
}

@media (max-width: 600px) {
  .review-ruler {
    margin-bottom: 20px;
  }

  .review-body {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    align-items: center;
  }

  .review p {
    margin-bottom: 22px;
  }
}
