.hp-h-container {
  margin: 40px auto;
  text-align: center;
  max-width: 800px;
}

.lp-h {
  font-size: 30px;
  /* text-shadow: 1px 1px white; */
}

.lp-h1 {
  font-size: 60px;
  text-shadow: 2px 2px black;
  color: white;
  margin-top: 6px;
}

.lp-h .cta {
  margin-top: 80px;
  margin-bottom: 80px;
}

.cta {
  background: white;
  margin-right: auto;
  margin-left: auto;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  max-width: 400px;
}

.cta .text {
  font-size: 26px;
  color: #eb4076;
  padding: 16px;
}

.cta button {
  background: linear-gradient(-45deg, #eb4076, #7b44f6);
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
  color: white;
  border-radius: 8px;
  padding: 12px;
  width: 200px;
  font-size: 22px;
}

.reviews-container {
  min-height: 100vh;
}

.reviews {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 100px 0;
}

.benefits-separator {
  padding: 20px 0 80px;
  background: white;
  text-align: center;
  color: #7b44f6;
  text-shadow: -1px -1px 1px black;
  /* text-shadow: 1px 1px 1px #eb4076; */
}

.lp h2 {
  font-size: 52px;
  margin-bottom: 80px;
}

.benefits-separator .bottom {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}

.benefit {
  text-align: center;
}

.benefit .img-container {
  width: 322px;
  height: 322px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.benefit .benefit-text {
  font-size: 32px;
}

.middle-cta {
  padding: 80px 0;
}

.session {
  background: white;
  padding: 20px;
}

.session h2 {
  text-align: center;
  color: #7b44f6;
  margin-bottom: 40px;
  text-shadow: -1px -1px 1px black;
}

.session article {
  max-width: 600px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

.session li {
  font-size: 22px;
}

.book-session-lead {
  font-size: 32px;
}
