.drop-in {
  position: relative;
  transform: translateY(-20px);
  opacity: 0;
  animation: drop-in 0.5s ease-in forwards;
  animation-delay: 0.4s;
}

.drop-in.two {
  animation-delay: 0.9s;
}

.drop-in.three {
  animation-delay: 1.4s;
}

@keyframes drop-in {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.grow-in {
  opacity: 0;
  transform: scale(0.5);
  animation: grow-in 0.5s ease-in forwards;
}

@keyframes grow-in {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.trippy {
  background-color: black;
  position: relative;
  color: white;
  overflow: hidden;
  width: 100vw;
}

.trippy canvas {
  position: absolute;
  top: 0;
}

.trippy article {
  position: relative;
  z-index: 10;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trippy small {
  font-size: 22px;
  text-shadow: -1px -1px black;
}

.trippy-pg h2 {
  font-size: 42px;
  margin-bottom: 60px;
}

.trippy-title {
  margin-top: 0;
  font-size: 122px;
  color: #eb4076;
  text-shadow: -1px -1px #7b44f6;
}

.trippy a {
  border: 1px solid white;
  color: white;
  padding: 20px;
  border-radius: 4px;
  font-size: 40px;
  animation-delay: 1.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.trippy-bottom {
  position: absolute;
  bottom: 20px;
  text-align: center;
}

.whatsapp-btn {
  font-size: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
  margin: 40px auto;
  padding: 20px 40px;
}

.scroll-indicator {
  position: absolute;
  bottom: 0px;
  animation-delay: 1.4s;
}

.scroll-indicator::before {
  animation: bounce 1s ease infinite;
  bottom: 2rem;
  color: #fff;
  content: "╲╱";
  font-size: 2rem;
  height: 4rem;
  left: 50%;
  letter-spacing: -1px;
  line-height: 4rem;
  margin-left: -3rem;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  width: 6rem;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
}

.shining {
  border-radius: 50%;
  width: 260px;
  height: 260px;
  object-fit: cover;
  margin-top: 40px;
  margin-bottom: 40px;
}

.container {
  max-width: 600px;
}

@media (max-width: 600px) {
  .scroll-page {
    width: 100%;
  }

  .scroll-page:not(.scroll-page-trippy) > div {
    padding: 0 20px;
    width: 100%;
  }

  .trippy h1 {
    font-size: 58px;
  }
}
