.root {
  position: relative;
}

.main-container {
  display: flex;
  align-items: center;
  height: 100vh;
}

.main-container > div {
  flex: 0.33;
  opacity: 0.2;
}

.logo-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.gradient-bg {
  background: linear-gradient(-45deg, #eb4076, #7b44f6);
  background-size: 200% 200%;
  animation: gradient-bg 15s ease infinite;
}

@keyframes gradient-bg {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
